<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.byblosapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ByblosApplication">
        <activity
            android:name=".ViewAccountDetails"
            android:exported="true" />
        <activity
            android:name=".CustomerServiceRequestView"
            android:exported="true" />
        <activity
            android:name=".CreateForm"
            android:exported="true" />
        <activity
            android:name=".ServiceRequests"
            android:exported="true" />
        <activity
            android:name=".BranchServices"
            android:exported="true" />
        <activity
            android:name=".ListBranchAccounts"
            android:exported="true" />
        <activity
            android:name=".CreateService"
            android:exported="false" />
        <activity
            android:name=".ListActiveServices"
            android:exported="false" />
        <activity
            android:name=".DeleteAccount"
            android:exported="true" />
        <activity
            android:name=".CustomerFeatures"
            android:exported="true" />
        <activity
            android:name=".CreateBranchAccount"
            android:exported="true" />
        <activity
            android:name=".EmployeeFeatures"
            android:exported="true" />
        <activity
            android:name=".LogInSuccessful"
            android:exported="true" />
        <activity
            android:name=".AdminFeatures"
            android:exported="true" />
        <activity
            android:name=".LogInPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>